<div id="homepage">

  <div [ngClass]="{'d-none': isLoaded, 'd-flex': !isLoaded, 
  'loader': true}">
    <div class="spinner-border text-info m-auto" style="width: 15rem; height: 15rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div [ngClass]="{'d-none': !isLoaded, 'd-block': isLoaded, 
  'home-page d-flex flex-column justify-content-between p-2': true}">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="card quizze-card m-1" *ngFor="let i = index; let quizze of quizzes;">
        <div class="card-body">
          <h5 class="card-title">{{ quizze.Name }}</h5>
          
          <div class="d-flex justify-content-between align-items-baseline">
            <p class="card-text">Questions: {{ quizze.Questions.length }}</p>
            <button type="button" class="btn btn-success" (click)="playQuizz(i)">Play</button>
          </div>  
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-warning rnd-quizze mt-1">I'm Lucky</button>
  </div>

</div>
